*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.statistics-box {
  background-color: #ffeb3b;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  width: 30%;
}

.statistics-box h2 {
  margin-top: 0;
}

.statistics-box div {
  margin-bottom: 10px;
}


.transactions-dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transactions-dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.month-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.transactions-table th, .transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #f2f2f2;
}

.transactions-table td img {
  width: 50px;
  height: auto;
}

.transactions-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactions-table tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-button, .next-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.prev-button:disabled, .next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-info {
  font-size: 16px;
}
